html {
    height: 100%;
    border: solid rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: rgb(225, 225, 225);
    background-color: rgb(7, 7, 7);
}