html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 3em;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(225, 225, 225);
    background-color: rgb(7, 7, 7);
}

.school a {
    color: rgb(164, 183, 245);
}